
<!-- nav -->
<!-- <nav  class="navbar navbar-inverse navbar-fixed-top" style="height: 7%;">
    <div class="container">
      <div class="navbar-header">
         
      </div>
        <div id="navbar" class="collapse navbar-collapse">
            
                <ul class="navbar-nav">
              
                <li><form action=""><div class="form-group"><input type="text" style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
            </ul>
        </div>
       
    </div>
</nav> -->
