<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"routerLink="goals"><b>GOALS APP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
              
        <li><form action=""><div class="form-group"><input type="text" style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active"routerLink="goals" routerLinkActive='active'>Goals<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"routerLink="/about" routerLinkActive='active'>About</a>
      </div>
    </div>
  </nav> -->
<!-- nav -->
<!-- <nav  class="navbar navbar-inverse navbar-fixed-top" style="height: 7%;">
    <div class="container">
      <div class="navbar-header">
         
      </div>
        <div id="navbar" class="collapse navbar-collapse">
            
                <ul class="navbar-nav">
              
                <li><form action=""><div class="form-group"><input type="text" style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
            </ul>
        </div>
       
    </div>
</nav> -->
